.barra_navegación-principal{
    width: 38%;
    padding: 0 0 0 6.3em;
}
.navBar_container-principal, .navBar_container{
    display: flex;
    align-items: center;
    height: 4em;
}
.navBar_container{
    background: #00FFFF;
}
.lista_navegacion-principal{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin:0;
    padding: 0;
}
.lista_navegacion-principal li{
    list-style: none;
    font-weight: 600;
}
.lista_navegacion-principal li a{
    text-decoration: none;
    color:#5B5B5B;
}
@media screen and (max-width:768px){
    .barra_navegación-principal{
        width: 45%;
        padding: 0 0 0 3em;
    }
}