.awardsSection {
  background-color: #bcbcbc;
  text-align: center;
  padding: 1em 5em 1em;
  h3{
    font-size: 1.75em;
  }
  .reconocimientos {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    .award{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin: 1em;
    }
    img {
      height: 4em;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(0px 0px 10px #ffffff);
    }
    h4{
        font-size: 12px;
        width: 12em;    
    }
  }
}
