.blogContent{
    box-sizing: border-box;
    padding: 2em 0 4em 7em;
}
.blogContent>h3{
    font-size: 32px;
    font-weight: 600;
    margin:0 0 1em 0
}
.blog_content-articles{
    margin-left: 3.5em;
    display: flex;
    justify-content: flex-start;
}
.blog_article{
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    width: 19em;
}
.blog_article_info{
    display: flex;
    flex-direction: column;
}
.blog_article_title{
    margin:.2em 0;
}

.blog_article_title a,.blog_article_description{
    font-family: "Playfair Display";
    margin:0;
    color:black;
    text-decoration:none
}
.blog_article_title a{
    font-size: 24px;
    font-weight: 700;
    margin-top: .5em;
}
.blog_article_description{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Merriweather';
    color:gray
}
.blog_article_image-container{
    width: 100%;
    height: 11em;
    margin:0
}
.blog_article_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:425px){
    .blog_article {
        width: 80%;
        margin: 0 0 2em 0;
      }
      .blogContent {
        padding: 0;
        > h3 {
          font-size: 1.5em;
          margin: 1em;
        }
      }
      .blog_content-articles {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .blog_article_title a{
          font-size: 0.75em;
      }
      .blog_article_description {
        font-size: 0.75em;
        line-height: 1.5;
      }
}