.fafe_section{
    background: #0d7377;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323232;
    font-weight: 600;
    padding: 4em 6.3em;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.fafe_section>*>*{
    margin: 0;
    padding:0;
}
.fafe_section-info h2 .resalt{
    color:#B4BE2C;
}
.fafe_section-info{
    overflow: hidden;
}
.fafe_section-info h2{
    font-size: 4.5em;
    color: #212121;
}
.fafe_section-info h4{
    width: 60%;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5;
}
.fafe_section-anounce{
    width: 100%;
    h4{
    font-size: 32px;
    font-weight: 400;
    }
}
#Componente_3_1{
    position: absolute;
    width: 40%;
    height: 86%;
    right: -60px;
    bottom: -60px;
}
@media screen and (max-width:768px){
    .fafe_section{
        padding: 4em 3em;
    }
    .fafe_section h2{
        font-size: 48px;
    }
    .fafe_section-anounce h4,.fafe_section h4{
        font-size: 24px;
    }
}
@media screen and (max-width:425px){
    .fafe_section{
        padding: 1em 1.5em;
        align-items: center;
        height: unset;
        h2{
            font-size: 32px;
    }
}
    .fafe_section-anounce{
        margin-top: 10em;
    }
    .fafe_section-anounce h4,.fafe_section h4{
        font-size: 1em;
        width: 100%;
    }
    #Componente_3_1{
        width: 9em;
        height: 9em;
        right: unset;
        bottom: 2.5em;
    }
    
}
@media screen and (max-width:385px){
    #Componente_3_1{
        bottom: 4em;
    }
}