.footer{
    background:#323232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}
.footer h3{
    color:#14ffec;
    font-size: 1.25em;
    font-weight: 300;
}
@media screen and (max-width:425px){
    .footer h3{
        font-size: .8em;
    }
}
@media screen and (max-width:375px){
    .footer{
        height: 2em;
    }
}
@media screen and (max-width:330px){
    .footer h3{
        font-size: .7em;
    }
}