@import "footer";
@import "MenuIcon";
@import "navBar";
@import "separador";
@import "awards";

*{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 1em 2em 1em 7em;
}
body{
    padding:0;
    margin:0;
}
.resalt{
    display:inline
}
.oculto{
    display:none
}
.desaparecido{
    opacity:0
}
a{
    color: unset;
    text-decoration: unset;
}
.animationLayer{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #14ffec;
    transition:.5s;
    z-index: 1;
  }
@media screen and (max-width:921px){
    section{
        padding: .5em 1em .5em 2.5em; ;
    }
}
@media screen and (max-width:426px){
    section{
        padding: .5em 1em .5em 1em; ;
    }
}