@import "footer";
@import "MenuIcon";
@import "navBar";
@import "separador";

*{
    font-family: 'Raleway', sans-serif;
}
body{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
.resalt{
    display:inline
}
.oculto{
    display:none
}
a{
    color: unset;
    text-decoration: unset;
}