.menu{
    height: 50px;
    left: 1em;
    top: 1em;
    z-index: 2;
    display: none;
    color: #212121;
    fill: currentColor;
    position: fixed;
    transition: .3s;
}
@media screen and (max-width:767px){
    .menu{
        display: block;
    }
}
@media screen and (max-width:425px){
    .menuReverse{
        transition: .3s;
        left:unset;
        right: 1em;
        height: 25px;
    }
}