.barra_navegación {
  width: 38%;
  padding: 0 0 0 6.3em;
}
.navBar_container {
  display: flex;
  align-items: center;
  height: 4em;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.lista_navegacion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-weight: 600;
    a {
      text-decoration: none;
      color: #323232;
    }
  }
}
@media screen and (max-width: 768px) {
  .barra_navegación {
    width: 45%;
    padding: 0 0 0 3em;
  }
}
@media screen and (max-width: 767px) {
  .lista_navegacion {
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: -100vw;
    background-color: wheat;
    z-index: 1;
    li {
      margin: 1em 0;
    }
  }
  .lista_navegacion.isActive {
    left: 0;
  }
}
