.projects{
    height: 100vh;
    width: 100%;
    background: white;
    padding: 3% 6% 0;
    box-sizing: border-box;
}
.projects>h3{
    margin:0;
    font-size: 40px;
    font-weight: 400;
    margin-bottom:1em
}
.projectsLayout{
    display:flex;
    flex-wrap:wrap;
    height: 80%;
    width: 100%;
}
.project_group{
    display: flex;
    width: 46%;
    height: 35%;
    margin-left: 2%;
}
.projectLogo{
    display: none;
    color:black;
    height: 50%;
}
.project_visual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    margin-left: 2%;
}
.project_info{
    width: 53%;
    margin-left: 2%;
}
.project_img{
    width: 100%;
    max-height: 8em;
    object-fit: contain;
    margin-bottom: 5%;
}
.project_info h3,.project_info p{
    margin:0
}
.project_info h3{
    color:black/* #6B6B6B */;
    font-weight: 600;
    font-size: 24px;
}
.project_info p{
    color:#6B6B6B;
    font-weight: 400;
    font-size: 18px;
}
.project_tecs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 1em;
}
.tech_icons {
	height  : 1.2em;
    margin-right: 1em;
   fill    : currentcolor;
/*    transform:translate(0 -0.45) */
}
@media screen and (max-width:768px){
    .projects{
        height: 160vh;
    }
    .project_info h3{
        font-size: 20px;
    }
    .project_group{
        align-items: center;
        width: 100%;
        height: 25%;
        margin: .3em 0;
    }
    .project_img{
        max-height: 6em;
    }
    .project_info p{
        font-size: 16px;
    }
}