.stack_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bcbcbc;

  h4 .resalt {
    color: #14ffec;
  }

  > * {
    margin: 0;
    padding: 0;
  }

  h4 {
    text-align: center;
    font-size: 2.3em;
  }

  h3 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 0.5em;
  }
}
.stacklogo {
  fill: currentColor;
  width: 8em;
  height: 6em;
  margin: 1.4em;
  transition: 0.3s;
  color: #14ffec;
}
.stack {
  background: #212121;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2em 10em 6em;
}
.stack_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.stacklogo:hover {
  width: 9em;
  height: 7em;
}
@media screen and (max-width: 768px) {
  .stack {
    padding: 2em 3em;
  }
  .stack_info {
    h3 {
      font-size: 2em;
    }
    h4 {
      font-size: 1.8em;
    }
    .stacklogo {
      width: 7em;
      height: 4em;
    }
  }
}
@media screen and (max-width: 768px) {
  .stack{
    height: unset;
  }
}
@media screen and (max-width: 425px) {
  .stack{
    padding: 1em;
  }
  .stacklogo{
    width: 5em;
    height: 4em;
    &:hover{
      width: 6em;
    height: 5em;
    }
  }
  .stack_info{
    h2{
      font-size: 1.8em;
    }
    h4{
      font-size:1.1em;
      line-height: 1.5;
    }
  }
}
