.studySection {
  width: 100%;
  height: 175vh;
  min-height: 1100px;
  background: #0d7377;
  padding: 5em 8em;
  box-sizing: border-box;
}
.studySection > h3 {
  margin: 0 0 1.5em;
  font-size: 48px;
  font-weight: 600;
  color: white;
}
.schools {
  display: flex;
  flex-direction: column;
}
.schoolSection {
  display: flex;
  margin-bottom: 3.7em;
}
.schoolSectionReverse {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 3.7em;
}
.school_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.school_info > * > * {
  margin: 0;
}
.schoolSectionReverse > div > div > * {
  text-align: right;
}
.school_image {
  margin: 0 2em;
}
.school_name {
  font-weight: 600;
  font-size: 40px;
}
.school_name,
.school_description,
.school_courses,
.school_time {
  color: white;
}
.school_courses {
  font-weight: 400;
  font-size: 28px;
}
.school_description,
.school_time {
  font-weight: 100;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .studySection {
    padding: 2em 3em;
    min-height: 910px;
  }
  .studySection > h3 {
    font-size: 40px;
  }
  .school_image {
    margin: 0 1em;
    max-height: 9em;
  }
  .school_name {
    font-size: 32px;
  }
  .school_description,
  .school_time {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .studySection {
    height: unset;
    min-height: unset;
    padding: 1em;
    > h3 {
      margin: .5em 0 1em;
      font-size: 2em;
    }
  }
  .school_name {
    font-size: 1.5em;
  }
  .school_courses {
    font-size: 1.2em;
  }
  .school_description,
  .school_time {
    font-size: 0.9em;
  }
  .school_image {
    height: 6em;
  }
}

@media screen and (max-width: 320px) {
  .studySection{
    padding: .5em;
  }
}
